<div class="w-full bg-primary px-4 py-12 md:py-16">
  <div class="flex flex-col items-center gap-6 w-full max-w-[600px] mx-auto md:max-w-[900px]">
    <h2 class="text-center text-white text-2xl md:text-3xl leading-relaxed font-medium">
      <p>Get back to the job of running your business and leave the bureaucratic part to us!</p>
    </h2>

    <a href="/contact" class="bg-white text-primary text-xl font-medium px-5 tracking-wide py-4 text-nowrap transition-opacity hover:opacity-80 md:text-2xl" rel="noopener noreferrer">
      Schedule a Visit
    </a>
  </div>
</div>