<div class="w-full max-w-screen-full mx-auto px-4 py-12">
  <div class="grid gap-6 md:grid-cols-3">
    <div class="flex flex-col gap-6 items-center w-full max-w-[400px] mx-auto">
      <svg xmlns="http://www.w3.org/2000/svg" width="72" height="50" viewBox="0 0 72 50">
        <defs>
          <filter id="qbkidtadcu-users-duotone-a"><feColorMatrix in="SourceGraphic" values="0 0 0 0 0.705882 0 0 0 0 0.090196 0 0 0 0 0.200000 0 0 0 1.000000 0"></feColorMatrix></filter>
        </defs>
        <g fill="none" fill-rule="evenodd" filter="url(#qbkidtadcu-users-duotone-a)" transform="translate(-96)">
          <g transform="translate(96)">
            <path
              fill="#000"
              fill-rule="nonzero"
              d="M10.7142857,21.4285714 C14.6591768,21.4285714 17.8571429,18.2306054 17.8571429,14.2857143 C17.8571429,10.3408232 14.6591768,7.14285714 10.7142857,7.14285714 C6.76939464,7.14285714 3.57142857,10.3408232 3.57142857,14.2857143 C3.57512028,18.2290752 6.77092481,21.4248797 10.7142857,21.4285714 Z M64.2857143,24.9999958 L57.1428571,24.9999958 C55.2563022,24.9979549 53.446017,25.744547 52.109375,27.0758929 C56.694882,29.5714809 59.8102299,34.1096841 60.4910714,39.2857143 L67.8571429,39.2857143 C69.8295884,39.2857143 71.4285714,37.6867312 71.4285714,35.7142857 L71.4285714,32.1428571 C71.4248797,28.1994962 68.2290752,25.0036917 64.2857143,24.9999958 Z M7.14285714,24.9999958 C3.19949624,25.0036917 0.0036917118,28.1994962 0,32.1428571 L0,35.7142857 C0,37.6867312 1.59898304,39.2857143 3.57142857,39.2857143 L10.9263393,39.2857143 C11.6160367,34.1099565 14.7340201,29.573954 19.3191964,27.0758929 C17.9825544,25.744547 16.1722692,24.9979549 14.2857143,24.9999958 L7.14285714,24.9999958 Z M60.7142857,21.4285714 C64.6591768,21.4285714 67.8571429,18.2306054 67.8571429,14.2857143 C67.8571429,10.3408232 64.6591768,7.14285714 60.7142857,7.14285714 C56.7693946,7.14285714 53.5714286,10.3408232 53.5714286,14.2857143 C53.5751203,18.2290752 56.7709248,21.4248797 60.7142857,21.4285714 Z"
              opacity=".4"
            ></path>
            <path
              fill="#000"
              fill-rule="nonzero"
              d="M44.2857143,28.5714286 L43.359375,28.5714286 C40.9781864,29.7353068 38.364671,30.345763 35.7142857,30.3571429 C32.96875,30.3571429 30.4017857,29.6875 28.0691964,28.5714286 L27.1428571,28.5714286 C20.0428189,28.5732768 14.2875625,34.3285332 14.2857143,41.4285714 L14.2857143,44.6428571 C14.2857143,47.6015254 16.6841888,50 19.6428571,50 L51.7857143,50 C54.7443826,50 57.1428571,47.6015254 57.1428571,44.6428571 L57.1428571,41.4285714 C57.1410089,34.3285332 51.3857525,28.5732768 44.2857143,28.5714286 L44.2857143,28.5714286 Z M35.7142839,25 C42.6178451,25 48.2142839,19.4035594 48.2142839,12.5 C48.2142839,5.59644063 42.6178451,0 35.7142839,0 C28.8107263,0 23.2142839,5.59644063 23.2142839,12.5 C23.212508,15.8157508 24.5288976,18.9962077 26.8734878,21.3407979 C29.218078,23.6853881 32.3985349,25.0017777 35.7142839,25 L35.7142839,25 Z"
            ></path>
          </g>
        </g>
      </svg>
      <div class="flex flex-col gap-2">
        <h3 class="text-2xl text-center font-medium tracking-wide">
          Experienced Professionals
        </h3>
        <div class="text-center text-xl">
          Our team is highly knowledgeable, qualified, and licensed. We are ready to help you with all your professional services, accounting, and tax needs.
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-6 items-center w-full max-w-[400px] mx-auto">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" width="38" height="50">
        <defs>
          <filter id="ruycfndjyu-semi-transp"><feColorMatrix in="SourceGraphic" values="0 0 0 0 0.705882 0 0 0 0 0.090196 0 0 0 0 0.200000 0 0 0 1.000000 0"></feColorMatrix></filter>
        </defs>
        <g filter="url(#ruycfndjyu-semi-transp)">
          <path
            class="ruycfndjyu-fa-secondary"
            fill="currentColor"
            d="M360 0H24A23.94 23.94 0 0 0 0 24v464a23.94 23.94 0 0 0 24 24h336a23.94 23.94 0 0 0 24-24V24a23.94 23.94 0 0 0-24-24zM161.7 202.4l12.6 12.7a5.37 5.37 0 0 1 0 7.6l-64.2 63.6a5.37 5.37 0 0 1-7.6 0L65.6 249a5.37 5.37 0 0 1 0-7.6l12.7-12.6a5.37 5.37 0 0 1 7.6 0l20.6 20.8 47.6-47.2a5.37 5.37 0 0 1 7.6 0zM64 112a16 16 0 0 1 16-16h32a16 16 0 0 1 16 16v32a16 16 0 0 1-16 16H80a16 16 0 0 1-16-16zm64 288a16 16 0 0 1-16 16H80a16 16 0 0 1-16-16v-32a16 16 0 0 1 16-16h32a16 16 0 0 1 16 16zm192-8a8 8 0 0 1-8 8H168a8 8 0 0 1-8-8v-16a8 8 0 0 1 8-8h144a8 8 0 0 1 8 8zm-9.6-120H170.2s29.2-30.2 30.4-32h109.7c5.3 0 9.6 3.6 9.6 8v16h.1c0 4.4-4.3 8-9.6 8zm9.6-136a8 8 0 0 1-8 8H168a8 8 0 0 1-8-8v-16a8 8 0 0 1 8-8h144a8 8 0 0 1 8 8z"
            opacity="0.4"
          ></path>
          <path
            class="ruycfndjyu-fa-primary"
            fill="currentColor"
            d="M80 160h32a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16H80a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16zm94.3 55.1l-12.6-12.7a5.37 5.37 0 0 0-7.6 0l-47.6 47.2-20.6-20.8a5.37 5.37 0 0 0-7.6 0l-12.7 12.6a5.37 5.37 0 0 0 0 7.6l36.9 37.3a5.37 5.37 0 0 0 7.6 0l64.2-63.6a5.37 5.37 0 0 0 0-7.6zM112 352H80a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h32a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16z"
          ></path>
        </g>
      </svg>
      <div class="flex flex-col gap-2">
        <h3 class="text-2xl text-center font-medium tracking-wide">
          Tailored Solutions
        </h3>
        <div class="text-center text-xl">
          We provide personalized services. We tailor a variety of services that offer assistance for individuals, families, and small to medium-size businesses.
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-6 items-center w-full max-w-[400px] mx-auto">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="50" height="50">
        <defs>
          <filter id="zztdeoyeie-semi-transp"><feColorMatrix in="SourceGraphic" values="0 0 0 0 0.705882 0 0 0 0 0.090196 0 0 0 0 0.200000 0 0 0 1.000000 0"></feColorMatrix></filter>
        </defs>
        <g filter="url(#zztdeoyeie-semi-transp)">
          <path
            class="zztdeoyeie-fa-secondary"
            fill="currentColor"
            d="M359.425,276.48438a31.98517,31.98517,0,0,0,45.06388,4.09375A31.46789,31.46789,0,0,0,415.57518,256h-73.221ZM183.9978,288H328.0022V256H183.9978Zm80.00244,128h64.002V384h-64.002ZM107.51109,280.57813a32.00633,32.00633,0,0,0,45.06388-4.09375L169.6458,256h-73.221A31.46789,31.46789,0,0,0,107.51109,280.57813ZM264.00024,352h64.002V320h-64.002Zm-80.00244,0h64.002V320h-64.002ZM509.7929,140.416l-29.78606-12.41993-12.42226-29.7832a3.99158,3.99158,0,0,0-7.15256,0l-12.41835,29.7832-29.79,12.41993a4.00079,4.00079,0,0,0,0,7.15625l29.79,12.41992,12.41835,29.7832a3.99158,3.99158,0,0,0,7.15256,0l12.42226-29.7832,29.78606-12.41992a4.004,4.004,0,0,0,0-7.15625ZM183.9978,416h64.002V384h-64.002ZM63.99414,32.002,51.57189,2.21875a3.99473,3.99473,0,0,0-7.15647,0L31.99707,32.002,2.211,44.42188a3.99921,3.99921,0,0,0,0,7.15429L31.99707,63.99609,44.41542,93.78125a3.99473,3.99473,0,0,0,7.15647,0L63.99414,63.99609,93.7763,51.57617a3.99921,3.99921,0,0,0,0-7.15429Z"
            opacity="0.4"
          ></path>
          <path
            class="zztdeoyeie-fa-primary"
            fill="currentColor"
            d="M384.00391,448H127.99609a32.00082,32.00082,0,0,0-32.001,32v32H416.00488V480A32.00082,32.00082,0,0,0,384.00391,448ZM255.96094,96l.01953-.00195L256,96a48,48,0,1,0,0-96l-.01953.002L255.96094,0a48,48,0,1,0,0,96ZM338.19,151.03125A63.84344,63.84344,0,0,0,289.01663,128H222.98337a63.78806,63.78806,0,0,0-49.15775,23.03125L113.01517,224H398.98874Z"
          ></path>
        </g>
      </svg>
      <div class="flex flex-col gap-2">
        <h3 class="text-2xl text-center font-medium tracking-wide">
          Customer-centric Vision
        </h3>
        <div class="text-center text-xl">
          We stay focused on what's most important – you. We work proactively to solve our client's needs while delivering a positive experience.
        </div>
      </div>
    </div>
  </div>
</div>