<div class="w-full px-4 py-12">
  <div class="flex flex-col items-center gap-12 w-full max-w-screen-full mx-auto">
    <div class="flex flex-col gap-6 text-center">
      <h2 class="text-primary leading-normal text-3xl font-semibold tracking-wide md:text-5xl">
        Services
      </h2>
      <div class="text-xl max-w-[600px] md:max-w-[900px] mx-auto">
        <p>
          We provide individuals and small to medium-size businesses in all industries with quality,<br /> affordable, and personalized professional services and tax solutions.
        </p>
      </div>
    </div>

    <div class="grid gap-6 grid-cols-2 lg:gap-12 lg:grid-cols-4 w-full">
      <div class="flex flex-col gap-3 w-full text-center">
        <img
          class="w-full rounded-md object-cover"
          src="/images/Translations.jpg"
          srcset="
            /images/Translations-1x.jpg,
            /images/Translations-2x.jpg,
            /images/Translations-3x.jpg
          "
          width="510"
          height="560"
          alt="Translations"
          sizes="100vw"
        />
        <h3 class="text-lg text-primary font-medium tracking-wide md:text-2xl">
          Translations
        </h3>
      </div>
      <div class="flex flex-col gap-3 w-full text-center">
        <img
          class="w-full rounded-md object-cover"
          src="/images/Taxes-Tax-Resolutions.jpg"
          srcset="
            /images/Taxes-Tax-Resolutions-1x.jpg,
            /images/Taxes-Tax-Resolutions-2x.jpg,
            /images/Taxes-Tax-Resolutions-3x.jpg
          "
          width="510"
          height="560"
          alt="Taxes Tax Resolutions"
          sizes="100vw"
        />
        <h3 class="text-lg text-primary font-medium tracking-wide md:text-2xl">
          Taxes &amp; Tax Resolutions
        </h3>
      </div>
      <div class="flex flex-col gap-3 w-full text-center">
        <img
          class="w-full rounded-md object-cover"
          src="/images/Bookkeeping-Payroll.jpg"
          srcset="
            /images/Bookkeeping-Payroll-1x.jpg,
            /images/Bookkeeping-Payroll-2x.jpg,
            /images/Bookkeeping-Payroll-3x.jpg
          "
          width="510"
          height="560"
          alt="Bookkeeping Payroll"
          sizes="100vw"
        />
        <h3 class="text-lg text-primary font-medium tracking-wide md:text-2xl">
          Bookkeeping &amp; Payroll
        </h3>
      </div>
      <div class="flex flex-col gap-3 w-full text-center">
        <img
          class="w-full rounded-md object-cover"
          src="/images/Consulting.jpg"
          srcset="
            /images/Consulting-x1.jpg,
            /images/Consulting-x2.jpg,
            /images/Consulting-x3.jpg
          "
          width="510"
          height="560"
          alt="Consulting"
          sizes="100vw"
        />
        <h3 class="text-lg text-primary font-medium tracking-wide md:text-2xl">
          Consulting
        </h3>
      </div>
    </div>

    <div>
      <a
        href="https://talitacamilo.ddev.site/services"
        class="inline-flex items-center justify-center bg-transparent text-primary border-2 border-primary text-xl font-medium px-5 py-4 tracking-wide transition-all hover:bg-primary hover:text-white md:text-2xl"
      >
        View All Services
      </a>
    </div>
  </div>
</div>